@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  background-color: black;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("../public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.5;
  /* adjust this value */
  z-index: -1;
  /* keeps content on top */
}